@import "./colors.scss";
@import "./mini-reset.scss";

html {
  font-size: 64px;
}

.App {
  position: relative;
  overflow: hidden;
}

.placeholder {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3;
  background-size: contain;
}

.subheadline {
  font-size: 1rem;
}

h1,
.call-to-action {
  font-family: "Neue Plak Text";
  color: $white;
  font-weight: bold;
  line-height: 1;
}

h2 {
  font-family: "Neue Plak Text Semi Bold";
  text-transform: uppercase;
  color: $dark-grey;
  font-weight: 400;
  line-height: 1;
}

h3 {
  font-family: "Cloudera Display 100 Striped";
  font-weight: normal;
  line-height: 1;
  color: $dark-orange;
}

.overflow{
  border: 0.2rem dashed red;
}

.placeholder{display: none }

//Comment the code out to see all of the digi advert text elements as you build.
.text-el{
  visibility: hidden;
}

.text-area {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 999;
  flex-direction: column;
}

[data-text-type="subheadline"] .subheadline,
[data-text-type="headline"] .headline,
[data-text-type="call-to-action"] .call-to-action,
[data-text-type="logoLockUp"] .logoLockUp {
  visibility: visible;
}

[data-text-type="subheadline"] .subheadline h2 {
  font-family: "Neue Plak Text Light";
  text-transform: none;
}
[data-text-type="headline"] .headline h1 {
  font-family: "Neue Plak Extended";
  text-transform: none;
}
[data-text-type="call-to-action"] .call-to-action {
  position: relative;
  display: flex;
  flex-direction: row;
}
.logoLockUp {
  position: absolute;
  font-family: "Neue Plak Extended";
  text-transform: none;
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  color: $dark-grey;
}

[data-width="600"][data-height="315"] {
  .text-area {
    padding: 489px 96px 103px;
  }
  [data-text-type="subheadline"] .subheadline h2 {
    font-size:1.43rem;
    font-weight: bold;
    letter-spacing: 0.008rem;
    color: $white;
  }
  [data-text-type="subheadline"] .subheadline h2 strong {
    font-family: "Neue Plak Text";
  }
  [data-text-type="headline"] .headline {
    margin-top: 55px;
  }
  [data-text-type="headline"] .headline h1 {
    font-size:1.8rem;
    line-height: 1.86rem;
    font-weight: bold;
    letter-spacing: 0.095rem;
    color: $white;
  }
  [data-text-type="call-to-action"] .call-to-action {
    margin-top: 301px;
  }
  [data-text-type="call-to-action"] .call-to-action div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 58px;
    padding: 27px 72px;
    padding-bottom: 33px;
    background-color: $white;
  }
  [data-text-type="call-to-action"] .call-to-action div span {
    font-size:0.75rem;
    font-weight: bold;
    letter-spacing: 0.15rem;
    color: $bright-orange;
    line-height: 0.75rem;
  }
  [data-text-type="logoLockUp"] .logoLockUp {
    flex-direction: row-reverse;
    padding: 27px 107px;
    font-size: 1.365rem;
  }
}