@import "./colors.scss";
@import "./mini-reset.scss";

html {
  font-size: 64px;
}

.App {
  position: relative;
  overflow: hidden;
}

.placeholder {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3;
  background-size: contain;
}

.subheadline {
  font-size: 1rem;
}

h1,
.call-to-action {
  font-family: "Neue Plak Text";
  color: $white;
  font-weight: bold;
  line-height: 1;
}

h2 {
  font-family: "Neue Plak Text Semi Bold";
  text-transform: uppercase;
  color: $dark-grey;
  font-weight: 400;
  line-height: 1;
}

h3 {
  font-family: "Cloudera Display 100 Striped";
  font-weight: normal;
  line-height: 1;
  color: $dark-orange;
}

.overflow{
  border: 0.1rem dashed red;
}
.overflow::after {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: red;
  color: $white;
  padding: 0.15rem 0.25rem;
  font-size: 0.5rem;
}
.overflow.max-height::after {
  content: "Exceeded Max Height!";
}
.overflow.max-line::after {
  content: "Exceeded Max Line!";
}

.placeholder{ 
  display: none; 
  // display: block;
}

//Comment the code out to see all of the digi advert text elements as you build.
.text-el{
  visibility: hidden;
}

.text-area {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 999;
  flex-direction: column;
}

[data-text-type="subheadline"] .subheadline,
[data-text-type="headline"] .headline,
[data-text-type="call-to-action"] .call-to-action,
[data-text-type="logoLockUp"] .logoLockUp {
  visibility: visible;
}

.subheadline h2 {
  font-family: "Neue Plak Text Light";
  text-transform: none;
  font-weight: normal;
  word-wrap: break-word;
  hyphens: auto;
}
.subheadline h2 strong {
  font-family: "Neue Plak Text";
}
.headline h1 {
  font-family: "Neue Plak Extended";
  text-transform: uppercase;
  word-wrap: break-word;
  hyphens: auto;
}
.call-to-action {
  position: relative;
  display: flex;
  flex-direction: row;
}
.call-to-action div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $white;
}
.call-to-action div span {
  font-weight: bold;
  color: $dark-orange;
  text-transform: uppercase;
  text-align: center;
}
.headerArea {
  position: relative;
  width: 100%;
}
.contentArea {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  overflow: hidden;
}
.mainContents {
  position: relative;
  display: block;
}
.logoLockUp {
  position: relative;
  font-family: "Neue Plak Extended";
  text-transform: none;
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  color: $dark-grey;
  align-items: center;
}

[data-width="600"][data-height="315"] {
  .headerArea {
    display: flex;
    flex-direction: row-reverse;
  }
  .contentArea {
    padding: 85px 400px 102px 97px;
    justify-content: flex-end;
  }
  [data-feature-image-exist="true"] .contentArea {
    padding: 85px 400px 85px 97px;
    justify-content: center;
  }
  .subheadline h2 {
    font-size:1.43rem;
    letter-spacing: 0.038rem;
    color: $white;
  }
  .headline {
    margin-top: 27px;
  }
  .headline h1 {
    font-size: calc(1.8rem * (var(--headline-size)/100));
    line-height: calc(1.88rem * (var(--headline-size)/100));
    font-weight: bold;
    letter-spacing: calc(0.095rem * (var(--headline-size)/100));
    color: $white;
  }
  .call-to-action {
    margin-top: 82px;
  }
  .call-to-action div {
    border-radius: 58px;
    padding: 27px 72px;
    padding-bottom: 33px;
  }
  .call-to-action div span {
    font-size:0.75rem;
    letter-spacing: 0.15rem;
    line-height: 0.75rem;
  }
  .logoLockUp {
    flex-direction: row-reverse;
    padding: 0px 107px;
    font-size: calc(1.365rem * (var(--logo-lockup-size)/100));
    line-height: calc(1.365rem * (var(--logo-lockup-size)/100));
    height: 201px;
    min-height: 201px;
    max-height: 201px;
    padding-bottom: 18px;
    text-align: right;
    max-width: 1740px;
  }
}

[data-width="300"][data-height="600"] {
  .contentArea {
    padding: 101px 70px 101px 101px;
    flex: unset;
  }
  [data-feature-image-exist="false"] {
    justify-content: space-between;
  }
  [data-feature-image-exist="true"] .contentArea {
    padding: 70px 70px 749px 101px;
    justify-content: center;
    flex: 1 1 0;
  }
  .subheadline h2 {
    font-size:1.07rem;
    letter-spacing: 0.02rem;
    color: $white;
  }
  .headline {
    margin-top: 22px;
  }
  .headline h1 {
    font-size: calc(1.45rem * (var(--headline-size)/100));
    line-height: calc(1.55rem * (var(--headline-size)/100));
    font-weight: bold;
    letter-spacing: calc(0.095rem * (var(--headline-size)/100));
    color: $white;
  }
  .call-to-action {
    margin-top: 58px;
  }
  .call-to-action div {
    border-radius: 58px;
    padding: 27px 72px;
    padding-bottom: 33px;
  }
  .call-to-action div span {
    font-size:0.75rem;
    letter-spacing: 0.15rem;
    line-height: 0.75rem;
  }
  .logoLockUp {
    align-items: flex-end;
    padding: 0px 104px;
    font-size: calc(1.365rem * (var(--logo-lockup-size)/100));
    line-height: calc(1.365rem * (var(--logo-lockup-size)/100));
    height: 301px;
    min-height: 301px;
    max-height: 301px;
    padding-bottom: 68px;
  }
}

[data-width="300"][data-height="250"] {
  .headerArea {
    display: flex;
    flex-direction: row-reverse;
  }
  .contentArea {
    padding: 51px 51px 80px 84px;
    justify-content: flex-end;
  }
  .subheadline h2 {
    font-family: "Neue Plak Text";
    font-size: 1.1rem;
    letter-spacing: 0.02rem;
    color: $white;
  }
  .headline {
    margin-top: 18px;
  }
  .headline h1 {
    font-size: calc(1.1rem * (var(--headline-size)/100));
    line-height: calc(1.13rem * (var(--headline-size)/100));
    font-weight: bold;
    letter-spacing: calc(0.02rem * (var(--headline-size)/100));
    color: $white;
  }
  .call-to-action {
    margin-top: 58px;
  }
  .call-to-action div {
    border-radius: 58px;
    padding: 27px 72px;
    padding-bottom: 33px;
  }
  .call-to-action div span {
    font-size:0.75rem;
    letter-spacing: 0.15rem;
    line-height: 0.75rem;
  }
  .logoLockUp {
    flex-direction: row-reverse;
    align-items: center;
    padding: 0px 87px;
    font-size: calc(1.120625rem * (var(--logo-lockup-size)/100));
    line-height: calc(1.120625rem * (var(--logo-lockup-size)/100));
    height: 160px;
    padding-bottom: 21px;
    text-align: right;
    max-width: 615px;
  }
}

[data-width="1200"][data-height="900"] {
  .headerArea {
    display: flex;
    flex-direction: row-reverse;
  }
  [data-feature-image-exist="false"] {
    justify-content: space-between;
  }
  [data-feature-image-exist="false"] .contentArea {
    padding: 168px 1560px 201px 168px;
    flex: unset;
  }
  [data-feature-image-exist="true"] .contentArea {
    padding: 168px 1560px 201px 168px;
    justify-content: center;
  }
  .subheadline h2 {
    font-size: 3rem;
    letter-spacing: 0.07rem;
    color: $white;
  }
  .headline {
    margin-top: 56px;
  }
  .headline h1 {
    font-size: calc(3.5rem * (var(--headline-size)/100));
    line-height: calc(3.7rem * (var(--headline-size)/100));
    font-weight: bold;
    letter-spacing: calc(0.17rem * (var(--headline-size)/100));
    color: $white;
  }
  .call-to-action {
    margin-top: 82px;
    display: none;
  }
  .call-to-action div {
    border-radius: 58px;
    padding: 27px 72px;
    padding-bottom: 33px;
  }
  .call-to-action div span {
    font-size:0.75rem;
    letter-spacing: 0.15rem;
    line-height: 0.75rem;
  }
  .logoLockUp {
    flex-direction: row-reverse;
    padding: 0px 173px;
    font-size: calc(2.5rem * (var(--logo-lockup-size)/100));
    line-height: calc(2.5rem * (var(--logo-lockup-size)/100));
    height: 361px;
    padding-bottom: 40px;
    text-align: right;
    max-width: 3500px;
  }
}

[data-width="1024"][data-height="512"] {
  .headerArea {
    display: flex;
    flex-direction: row-reverse;
  }
  .contentArea {
    padding: 168px 1200px 206px 168px;
    justify-content: center;
  }
  .subheadline h2 {
    font-size: 2.55rem;
    letter-spacing: 0.065rem;
    color: $white;
  }
  .headline {
    margin-top: 49px;
  }
  .headline h1 {
    font-size: calc(2.85rem * (var(--headline-size)/100));
    line-height: calc(2.98rem * (var(--headline-size)/100));
    font-weight: bold;
    letter-spacing: calc(0.16rem * (var(--headline-size)/100));
    color: $white;
  }
  .call-to-action {
    margin-top: 82px;
  }
  .call-to-action div {
    border-radius: 58px;
    padding: 27px 72px;
    padding-bottom: 33px;
  }
  .call-to-action div span {
    font-size:0.75rem;
    letter-spacing: 0.15rem;
    line-height: 0.75rem;
  }
  .logoLockUp {
    flex-direction: row-reverse;
    padding: 0px 173px;
    font-size: calc(2.5rem * (var(--logo-lockup-size)/100));
    line-height: calc(2.5rem * (var(--logo-lockup-size)/100));
    height: 361px;
    padding-bottom: 40px;
    text-align: right;
    max-width: 2890px;
  }
}

[data-width="1080"][data-height="1080"] {
  .headerArea {
    display: none;
  }
  [data-feature-image-exist="false"] .contentArea {
    padding: 85px 1300px 168px 168px;
    justify-content: flex-end;
  }
  [data-feature-image-exist="true"] .contentArea {
    padding: 85px 1300px 143px 168px;
    justify-content: center;
  }
  .subheadline h2 {
    font-size: 2.95rem;
    letter-spacing: 0.005rem;
    color: $white;
  }
  .headline {
    margin-top: 56px;
  }
  .headline h1 {
    font-size: calc(3.4rem * (var(--headline-size)/100));
    line-height: calc(3.6rem * (var(--headline-size)/100));
    font-weight: bold;
    letter-spacing: calc(0.19rem * (var(--headline-size)/100));
    color: $white;
  }
  .call-to-action {
    display: none;
  }
}

[data-width="1200"][data-height="628"] {
  .headerArea {
    display: none;
  }
  [data-feature-image-exist="false"] .contentArea {
    padding: 168px 1300px 143px 168px;
    justify-content: flex-end;
  }
  [data-feature-image-exist="true"] .contentArea {
    padding: 168px 1300px 223px 168px;
    justify-content: center;
  }
  .subheadline h2 {
    font-size: 2.11rem;
    letter-spacing: 0.027rem;
    color: $white;
  }
  .headline {
    margin-top: 46px;
  }
  .headline h1 {
    font-size: calc(3.21rem * (var(--headline-size)/100));
    line-height: calc(3.4rem * (var(--headline-size)/100));
    font-weight: bold;
    letter-spacing: calc(0.19rem * (var(--headline-size)/100));
    color: $white;
  }
  .call-to-action {
    display: none;
  }
}

[data-width="1200"][data-height="800"] {
  .headerArea {
    display: flex;
    flex-direction: row-reverse;
  }
  [data-feature-image-exist="false"] .contentArea {
    padding: 168px 1560px 202px 168px;
    justify-content: flex-end;
  }
  [data-feature-image-exist="true"] .contentArea {
    padding: 168px 1560px 202px 168px;
    justify-content: center;
  }
  .subheadline h2 {
    font-size: 2.95rem;
    letter-spacing: 0.09rem;
    color: $white;
  }
  .headline {
    margin-top: 59px;
  }
  .headline h1 {
    font-size: calc(3.59rem * (var(--headline-size)/100));
    line-height: calc(3.8rem * (var(--headline-size)/100));
    font-weight: bold;
    letter-spacing: calc(0.16rem * (var(--headline-size)/100));
    color: $white;
  }
  .call-to-action {
    display: none;
  }
  .logoLockUp {
    flex-direction: row-reverse;
    padding: 0px 173px;
    font-size: calc(2.5rem * (var(--logo-lockup-size)/100));
    line-height: calc(2.5rem * (var(--logo-lockup-size)/100));
    height: 361px;
    padding-bottom: 40px;
    text-align: right;
    max-width: 3570px;
  }
}

[data-width="640"][data-height="480"] {
  .headerArea {
    display: flex;
    flex-direction: row-reverse;
  }
  .contentArea {
    padding: 85px 400px 114px 106px;
    justify-content: flex-end;
  }
  [data-feature-image-exist="true"] .contentArea {
    padding: 85px 400px 114px 106px;
    justify-content: center;
  }
  .subheadline h2 {
    font-size: 1.49rem;
    letter-spacing: 0.038rem;
    color: $white;
  }
  .headline {
    margin-top: 27px;
  }
  .headline h1 {
    font-size: calc(1.66rem * (var(--headline-size)/100));
    line-height: calc(1.75rem * (var(--headline-size)/100));
    font-weight: bold;
    letter-spacing: calc(0.095rem * (var(--headline-size)/100));
    color: $white;
  }
  .call-to-action {
    margin-top: 74px;
  }
  .call-to-action div {
    border-radius: 58px;
    padding: 27px 72px;
    padding-bottom: 33px;
  }
  .call-to-action div span {
    font-size:0.75rem;
    letter-spacing: 0.15rem;
    line-height: 0.75rem;
  }
  .logoLockUp {
    flex-direction: row-reverse;
    padding: 0px 107px;
    font-size: calc(1.365rem * (var(--logo-lockup-size)/100));
    line-height: calc(1.365rem * (var(--logo-lockup-size)/100));
    height: 201px;
    min-height: 201px;
    max-height: 201px;
    padding-bottom: 18px;
    max-width: 1900px;
  }
}

[data-width="300"][data-height="50"] {
  .headerArea {
    max-width: 350px;
  }
  .headerArea .logoLockUp {
    display: none;
  }
  .text-area {
    flex-direction: row;
  }
  .mainContents {
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
  }
  .subheadline {
    display: none;
  }
  .headline {
    width: 100%;
    min-width: 640px;
    max-width: 640px;
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 14px;
  }
  .headline h1 {
    font-size: calc(0.64rem * (var(--headline-size)/100));
    letter-spacing: calc(0.025rem * (var(--headline-size)/100));
    line-height: calc(0.66rem * (var(--headline-size)/100));
  }
  .call-to-action {
    flex: 1 1;
    font-size: 0.5rem;
    text-decoration: underline;
    letter-spacing: 0.07rem;
  }
  .call-to-action div {
    justify-content: center;
    align-items: flex-start;
    background-color: transparent;
    flex: 1 1 0;
    padding-left: 30px;
    padding-bottom: 14px;
  }
  .call-to-action div span {
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
  }
}

[data-width="320"][data-height="50"] {
  .headerArea {
    max-width: 350px;
  }
  .headerArea .logoLockUp {
    display: none;
  }
  .text-area {
    flex-direction: row;
  }
  .mainContents {
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
  }
  .subheadline {
    display: none;
  }
  .headline {
    width: 100%;
    min-width: 710px;
    max-width: 710px;
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 14px;
  }
  .headline h1 {
    font-size: calc(0.68rem * (var(--headline-size)/100));
    letter-spacing: calc(0.04rem * (var(--headline-size)/100));
    line-height: calc(0.75rem * (var(--headline-size)/100));
  }
  .call-to-action {
    flex: 1 1;
    font-size: 0.5rem;
    text-decoration: underline;
    letter-spacing: 0.07rem;
  }
  .call-to-action div {
    justify-content: center;
    align-items: flex-start;
    background-color: transparent;
    flex: 1 1 0;
    padding-left: 30px;
    padding-bottom: 14px;
  }
  .call-to-action div span {
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
  }
}

[data-width="160"][data-height="600"] {
  .logoLockUp {
    min-height: 273px;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 59px;
    font-size: calc(1.3rem * (var(--logo-lockup-size)/100));
    line-height: calc(1.3rem * (var(--logo-lockup-size)/100));
    padding-right: 14px;
  }
  .contentArea {
    padding: 54px;
    justify-content: flex-end;
  }
  [data-feature-image-exist="true"] .contentArea {
    padding-bottom: 303px;
    justify-content: center;
  }
  .subheadline h2 {
    color: $white;
    font-size: 1.13rem;
    letter-spacing: 0.025rem;
  }
  .headline {
    margin-top: 22px;
  }
  .headline h1 {
    font-family: "Neue Plak Text";
    font-weight: bold;
    font-size: calc(1.36rem * (var(--headline-size)/100));
    line-height: calc(1.37rem * (var(--headline-size)/100));
    letter-spacing: calc(0.04rem * (var(--headline-size)/100));
  }
  .call-to-action {
    margin-top: 58px;
  }
  .call-to-action div {
    border-radius: 58px;
    padding: 27px 72px;
    padding-bottom: 33px;
    width: 100%;
  }
  .call-to-action div span {
    font-size:0.75rem;
    letter-spacing: 0.15rem;
    line-height: 0.75rem;
  }
}

[data-width="990"][data-height="150"] {
  .headerArea {
    max-width: 813px;
    width: 100%;
    margin-right: 8px;
  }
  .headerArea .logoLockUp {
    font-family: "Neue Plak Text";
    font-size: calc(1.5rem * (var(--logo-lockup-size)/100));
    line-height: calc(1.5rem * (var(--logo-lockup-size)/100));
    padding: 303px 105px 10px;
    color: $white;
  }
  .text-area {
    flex-direction: row;
  }
  .contentArea {
    justify-content: center;
    padding: 100px;
  }
  [data-feature-image-exist="true"] .contentArea {
    max-width: 2000px;
  }
  .mainContents {
    display: flex;
    flex-direction: column;
  }
  .subheadline h2 {
    font-family: "Neue Plak Text";
    color: $white;
    font-size: 1.4rem;
    letter-spacing: 0.04rem;
  }
  .headline h1 {
    font-size: calc(2rem * (var(--headline-size)/100));
    font-size: 2rem;
    line-height: calc(2.25rem * (var(--headline-size)/100));
    letter-spacing: 0.08rem;
  }
  .call-to-action {
    display: none;
  }
}

[data-width="970"][data-height="250"] {
  .headerArea {
    display: flex;
    flex-direction: row-reverse;
  }
  .logoLockUp {
    flex-direction: row-reverse;
    padding: 0px 119px;
    font-size: calc(1.25rem * (var(--logo-lockup-size)/100));
    line-height: calc(1.25rem * (var(--logo-lockup-size)/100));
    height: 176px;
    padding-bottom: 20px;
    max-width: 3260px;
    text-align: right;
  }
  // .contentArea {
  //   padding: 72px 400px 61px 116px;
  //   justify-content: flex-end;
  // }
  .contentArea {
    padding: 72px 400px 61px 116px;
    justify-content: center;
  }
  .subheadline h2 {
    font-size:1.58rem;
    letter-spacing: 0.054rem;
    color: $white;
  }
  .headline {
    margin-top: 26px;
  }
  .headline h1 {
    font-size: calc(2rem * (var(--headline-size)/100));
    line-height: calc(2rem * (var(--headline-size)/100));
    font-weight: bold;
    letter-spacing: calc(0.05rem * (var(--headline-size)/100));
    color: $white;
  }
  .call-to-action {
    margin-top: 82px;
  }
  .call-to-action div {
    border-radius: 58px;
    padding: 27px 72px;
    padding-bottom: 33px;
  }
  .call-to-action div span {
    font-size:0.75rem;
    letter-spacing: 0.15rem;
    line-height: 0.75rem;
  }
  
}

[data-width="728"][data-height="90"] {
  .text-area {
    flex-direction: row;
  }
  .headerArea {
    max-width: 649px;
  }
  .headerArea .logoLockUp {
    padding: 171px 50px 29px 77px;
    height: 100%;
    font-size: calc(1.3rem  * (var(--logo-lockup-size)/100));
    line-height: calc(1.3rem  * (var(--logo-lockup-size)/100));
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .contentArea {
    padding: 20px 74px 40px;
    justify-content: center;
  }
  .mainContents {
    max-width: 1675px;
  }
  .subheadline h2 {
    font-family: "Neue Plak Text";
    font-size: 0.97rem;
    line-height: 0.97rem;
    letter-spacing: 0rem;
    color: $white;
  }
  .headline {
    margin-top: 14px;
  }
  .headline h1 {
    font-size: calc(1.2rem * (var(--headline-size)/100));
    line-height: calc(1.2rem * (var(--headline-size)/100));
    letter-spacing: calc(0.05rem * (var(--headline-size)/100));
  }
  .call-to-action {
    position: absolute;
    top: 0px; right: 0px;
    width: 549px;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 40px;
  }
  .call-to-action div {
    border-radius: 58px;
    padding: 27px 53px;
    padding-bottom: 33px;
  }
  .call-to-action div span {
    font-size:0.75rem;
    letter-spacing: 0.15rem;
    line-height: 0.75rem;
  }
}

[data-width="540"][data-height="200"] {
  .contentArea {
    padding: 85px 400px 97px 97px;
    justify-content: flex-end;
  }
  [data-feature-image-exist="true"] .contentArea {
    padding: 85px 400px 114px 97px;
    justify-content: center;
  }
  .subheadline h2 {
    font-size: 1.3rem;
    letter-spacing: 0.038rem;
    color: $white;
  }
  .headline {
    margin-top: 25px;
  }
  .headline h1 {
    font-size: calc(1.6rem * (var(--headline-size)/100));
    line-height: calc(1.6rem * (var(--headline-size)/100));
    font-weight: bold;
    letter-spacing: calc(0.055rem * (var(--headline-size)/100));
    color: $white;
  }
  .call-to-action {
    display: none;
  }
  .headerArea {
    display: none;
  }
  .logoLockUp {
    display: none;
  }
}
