@import "./colors.scss";
@import "./mini-reset.scss";

html {
  font-size: 64px;
}

.App {
  position: relative;
  overflow: hidden;
}

.placeholder {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3;
  background-size: contain;
}

.subheadline {
  font-size: 1rem;
}

h1,
.call-to-action {
  font-family: "Neue Plak Text";
  color: $white;
  font-weight: bold;
  line-height: 1;
}


h2 {
  font-family: "Neue Plak Text Semi Bold";
  text-transform: uppercase;
  color: $dark-grey;
  font-weight: 400;
  line-height: 1;
}

h3 {
  font-family: "Cloudera Display 100 Striped";
  font-weight: normal;
  line-height: 1;
  color: $dark-orange;
}

.overflow{
  border: 0.2rem dashed red;
}

.placeholder{display: none}

/*
.text-el{
  visibility: hidden;
}

[data-text-type="subheadline"] .subheadline.text-el,
[data-text-type="heading-1"] .headline.line-1.text-el,
[data-text-type="heading-2"] .headline.line-2.text-el,
[data-text-type="heading-3"] .headline.line-3.text-el,
[data-text-type="heading-4"] .headline.line-4.text-el,
[data-text-type="heading-5"] .headline.line-5.text-el,
[data-text-type="display-line"] .display-line.text-el,
[data-text-type="call-to-action"] .call-to-action.text-el{
  visibility: visible;
}*/